a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
	margin: 0;
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

p {
    background-color:white;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
    text-decoration: underline dotted;
}

.home {
    float: left;
}

.home a {
    margin-left: 30px;
}

.home a:hover {
    text-decoration: underline overline;
}

.jumbotron {
    font-family: 'Palatino Linotype', Palatino, serif;
    background-color: white;
}

.pages a:hover {
    text-decoration: underline overline;
}

#maintext {
    padding: 25px
}

#sma {
    text-decoration: underline;
    color: black;
}

#sma:hover {
    text-decoration: underline;
    color: blue;
}

#sma:visited {
    text-decoration: none;
}