p {
    background-color:white;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
    text-decoration: underline dotted;
}

.jumbotron {
    font-family: 'Palatino Linotype', Palatino, serif;
    background-color: white;
}