a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
	margin: 0;
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
}

.home {
    float: left;
}

.home a {
    margin-left: 30px;
}

.home a:hover {
    text-decoration: underline overline;
}

.pages a:hover {
    text-decoration: underline overline;
}

.parallax {
    background-image: url('../images/elbyskillsback.jpeg');
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#maintext {
    padding-top: 70px;
}

#sma {
    text-decoration: underline;
    color: black;
}

#sma:hover {
    text-decoration: underline;
    color: blue;
}

#sma:visited {
    text-decoration: none;
}