a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
	margin: 0;
}

code {
    background-color: black;
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
}

.home {
    float: left;
}

.home a {
    margin-left: 30px;
}

.home a:hover {
    text-decoration: underline overline;
}

.ml13 {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }

.pages a:hover {
    text-decoration: underline overline;
}

#link {
    text-decoration: underline;
    color: black;
}

#link:hover {
    text-decoration: underline;
    color: blue;
}

#link:visited {
    text-decoration: none;
}

#maintext {
    padding-top: 70px;
}

#shade {
    text-shadow: 1.5px 1.5px red;
    background-color: greenyellow;
}