a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a img {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
}

a img:hover {
    -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0; 
    transition: opacity 1.5s; 
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

.col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
}

.container h3 {
    text-align: center;
}

.home {
    float: left;
}

.home a {
    margin-left: 30px;
}

.home a:hover {
    text-decoration: underline overline;
}

.pages a:hover {
    text-decoration: underline overline;
}

#maintext {
    padding-top: 70px;
}
